<h1>TELL ME WHERE TO EAT - RANDOM PAGE</h1>

  <div>
    <h1><%= @response['name'] %></h1>
    <h3><%= @response['phone'] %></h3>
  </div>

<script type="text/javascript">
  // $(function(){
  //   var req = new GeolocationRequest()
  //   req.retrieve();
  // });
</script>