<section class="front-page">
  <div class="container">
    <div class="sixteen columns center">
      <button>Tell me where to eat</button>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(function() {
    $('#js-get-location').click(function() {
      getGeoLocation();
    });
  })
</script>