<h1>TELL ME WHERE TO EAT</h1>

<button id="js-get-location">Get Location</button>

<script type="text/javascript">
  $(function() {
    $('#js-get-location').click(function() {
      getGeoLocation();
    });
  })
</script>
