<!DOCTYPE html>
<html>
<head>
  <title>Tell me where to eat - never be undecided again!</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
